<%- include('./partials/navbar-general'); %>

    <section class="order-filler"></section>
    <section class="order">
        <h3>Kustomisasi Paket</h3>

        <div class="order__box">
            <div class="box-options" id="active-left">
                <div class="detail-paket">
                    <h3>Kustomisasi</h3>
                </div>
                <!-- <div class="kustomisasi">
                <p>Kustomisasi</p>
            </div> -->
            </div>
            <!-- SECTION DETAIL PAKET -->
            <div class="box-detail-paket"  id="box-detail-paket-kustomisasi">
                <div class="detail-paket-deskripsi">
                    <!-- <h4>Deskripsi Paket</h4> -->
                </div>
                <!-- <div class="detail-paket-galeri">
                    <h4>Galeri Paket</h4>
                    <div class="galeri-gambar">
                        <div class="container-fluid">
                            <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
                                <div class="carousel-inner w-100 mx-auto" role="listbox">
                                        <div class="carousel-item col-md-3 active">
                                            <img class="img-fluid mx-auto d-block" src="" alt="slide 2">
                                        </div>
                                       
                                                <div class="carousel-item col-md-3">
                                                    <img class="img-fluid mx-auto d-block" src=" "
                                                        alt="slide">
                                                </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExample" role="button"
                                    data-slide="prev">
                                    <i class="fa fa-chevron-left fa-lg text-muted"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next text-faded" href="#carouselExample" role="button"
                                    data-slide="next">
                                    <i class="fa fa-chevron-right fa-lg text-muted"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> --> 
                <div class="detail-paket-keterangan">
                    <h4>Kostumisasi Paket</h4>
                </div>
               
                    <form class="kustomisasi-paket-choices" method="post" action="/orders/add-paket-custom">
                        <div class="nama">
                            <div class="info-keterangan">
                                <h4>Nama Paket
                                </h4>
                            </div>
                            <div class="paket-detail-kustomisasi">
                                <input class="note-dropdown" id="name_paket" name="paket_name"> </input>
                            </div>
                        </div>
                         <div class="rias info">
                            <div class="info-keterangan">
                                <h4>Kategori
                                </h4>
                            </div>
                            <div class="paket-detail-kustomisasi">
                                    <select class="note-dropdown" id="rias_id" name="nama_category" > 
                                    <option value="1">Coorporate</option>
                                    <option value="2">Wedding</option>
                                    <option value="3">Family Gathering</option>
                                    </select>
                            </div>
                        </div>
                        <div class="dekorasi info">
                            <div class="info-keterangan">
                                <h4>Dekorasi 
                                </h4>
                            </div>
                            <div class="paket-detail-kustomisasi">
                                <select class="note-dropdown" id="namaDekorasi" name="nama_dekorasi" >
                                    <option value="1">Dekorasi Bronze</option>
                                    <option value="2">Dekorasi Silver</option>
                                    <option value="3">Dekorasi Gold</option>
                                    <option value="4">Dekorasi Platinum</option>
                                    <option value="5">Ultah Hemat</option>
                                    <option value="6">Ultah standar</option>
                                    <option value="7">Ultah Spesial</option>
                                    <option value="8">Seminar Online</option>
                                    <option value="9">Seminar Standar</option>
                                    <option value="10">Seminar Spesial</option>
                                    <option value="11">Reuni Keluarga Standar</option>
                                    <option value="12">Anniversary Spesial</option>
                                    <option value="13">Anniversary Hemat</option>
                                    <option value="14">Anniversary Standar</option>
                                    <option value="15">Anniversary Spessial</option>
                                </select>
                            </div>
                        </div>
                        <div class="rias info">
                            <div class="info-keterangan">
                                <h4>Rias 
                                </h4>
                                
                            </div>
                            <div class="paket-detail-kustomisasi">
                                    <select class="note-dropdown" id="rias_id" name="nama_rias" > 
                                      <option value="1">Wedding Sederhana</option>
                                    <option value="2">Wedding Standar</option>
                                    <option value="3">Wedding Lengkap</option>
                                    <option value="4">Wedding Mewah</option>
                                    <option value="5">Ultah Hemat</option>
                                    <option value="6">Ultah standar</option>
                                    <option value="7">Ultah Spesial</option>
                                    <option value="8">Reuni Keluarga Hemat</option>
                                    <option value="11">Seminar Online</option>
                                    <option value="12">Seminar Offline</option>
                                    <option value="13">Anniversary</option>
                                    </select>
                            </div>
                        </div>
                        <div class="katering info">
                            <div class="info-keterangan">
                                <h4>Katering 
                                </h4>
                               
                            </div>
                            <div class="paket-detail-kustomisasi">
                                <select class="note-dropdown" id="namaKatering" name="nama_catering" > 
                                   <option value="1">Wedding Sederhana</option>
                                    <option value="2">Wedding Standar</option>
                                    <option value="3">Wedding Lengkap</option>
                                    <option value="4">Wedding Mewah</option>
                                    <option value="5">Ulang Tahun Hemat</option>
                                    <option value="6">Ulang Tahun Standar</option>
                                    <option value="7">Ulang Tahun Special</option>
                                    <option value="9">Reuni Keluar Hemat</option>
                                    <option value="10">Reuni Keluarga Standar</option>
                                    <option value="11">Reuni Keluarga Spesial</option>
                                    <option value="12">Seminar Online</option>
                                    <option value="13">Seminar Standar</option>
                                    <option value="14">Seminar Spesial</option>
                                    <option value="15">Anniversary Standar</option>
                                    <option value="16">Anniversary Spesial</option>
                                    
                                </select>
                            </div>
                        </div>
                        <div class="documentation info">
                            <div class="info-keterangan">
                                <h4>Dokumentasi 
                                </h4>
                              
                            </div>
                            <div class="paket-detail-kustomisasi">
                                <select class="note-dropdown" id="namaDokumentasi" name="nama_dokumentasi" > 
                                   <option value="1">Wedding Sederhana</option>
                                    <option value="2">Wedding Standar</option>
                                    <option value="3">Wedding Lengkap</option>
                                    <option value="4">Wedding Mewah</option>
                                    <option value="5">Ultah Hemat</option>
                                    <option value="6">Ultah Spesial</option>
                                    <option value="7">Reuni Keluarga Hemat</option>
                                    <option value="8">Reuni Keluarga Spesial</option>
                                    <option value="9">Seminar Online</option>
                                    <option value="10">Seminar Standar</option>
                                    <option value="11">Seminar Lengkap</option>
                                    <option value="12">Anniversary Hemat</option>
                                    <option value="13">Anniversary Spesial</option>
                        
                                </select>
                            </div>
                         </div>
                        <div class="hiburan info">
                            <div class="info-keterangan">
                                <h4>Entertainment 
                                </h4>
                                
                            </div>
                            <div class="paket-detail-kustomisasi">
                                <select class="note-dropdown" id="namaEntertainment" name="nama_entertainment" >
                                 <option value="1">Wedding Sederhana</option>
                                    <option value="2">Wedding Standar</option>
                                    <option value="3">Wedding Lengkap</option>
                                    <option value="4">Wedding Mewah</option>
                                    <option value="5">Ultah Hemat</option>
                                    <option value="6">Ultah Spesial</option>
                                    <option value="7">Reuni Keluarga Hemat</option>
                                    <option value="8">Reuni Keluarga Spesial</option>
                                    <option value="9">Seminar Hemat</option>
                                    <option value="10">Seminar Spesial</option>
                                    <option value="11">Anniversary Hemat</option>
                                    <option value="12">Anniversary Spesial</option>
                                 </select></div>
                        </div>

                        <div class="detail-paket-right">
                            <div class="detail-paket-biaya">
                                <h4 class="h4-total-bayar">Total Bayar</h4>
                                <div class="sect">
                                    <!-- <h4>
                                       Total
                                    </h4> -->
                                </div>
                            </div>
                            <div class="kustom-pesan">
                                <!-- <button class="btn-kustomisasi" id="btnKustomisasi"><a
                                        href="https://wa.me/6282267263157">Kustomisasi</a></button> -->
                                <button class="btn-pesan" id="btnPesanKustom" type="submit">Pesan Sekarang</button>
                            </div>
                        </div>
                        <p class="help">Butuh bantuan? <span>Hubungi kami</span></p>
                    </form>
            </div>
    </section>
    <script>
            const detailPaket = document.querySelector(".detail-paket")
                const detailPaketChoices = document.querySelector(".detail-paket-choices")
                const kustomisasiChoices = document.querySelector(".kustomisasi-choices")
                const kustomisasiPaketChoices = document.querySelector(".kustomisasi-paket-choices")
                const kustomisasi = document.querySelector(".kustomisasi")
                const boxOptions = document.querySelector(".box-options")

                const boxDetailPaket = document.querySelector(".box-detail-paket")
                const boxKustomisasi = document.querySelector(".box-kustomisasi")


                // kustomisasiPaketChoices.onclick = (e) => {
                //         console.log("ini kustomisasi")
                //         const getClassName = e.target.className;
                //         const getAnotherClassName = e.target.parentNode.className;
                //         const getParent = e.target.parentNode.parentNode;
                //         const getList = getParent.children[1];
                //         console.log("className: ", getClassName, "e target: ", e.target, "tes: ");
                //         console.log(getParent, getList, getClassName)
                //         console.log(getList)
                //         console.log("event: ", e.target.className)

                //         if (getParent && getList && getClassName !== "detail-paket-choices"
                //             && getClassName !== "info-keterangan" && getAnotherClassName !== "sect" && getClassName !== "kustom-pesan") {
                //             if (getList.style.display !== "block" && getClassName !== "detail-paket-right" && getClassName !== "detail-paket-biaya" && getClassName !== "h4-total-bayar" && getClassName !== "sect" && getClassName !== "btn-pesan") {
                //                 getList.style.display = "block"
                //                 console.log(e)
                //             } else if (getClassName !== "note-dropdown" && getClassName !== "detail-paket-right"  && getClassName !== "detail-paket-biaya" && getClassName !== "btn-pesan"  && getClassName !== "h4-total-bayar" && getClassName !== "sect-total" && getClassName !== "sect") {
                //                 getList.style.display = "none"
                //                 console.log(e)
                //             }
                //         } else {
                //             return;
                //         }
                // }
    </script>

    <%- include('./partials/footer'); %>